<header>

	<!-- title wrapper -->
	<div class="title-wrapper">
		<a href="/">
			<h2 class="title" >{{ .Site.Title }}</h2>
		</a>
		<nav>
			<ul>
				<li><a class="{{ cond (eq .Title "Posts") "active-link" ""}}" href="/posts/">posts</a></li>
				<li><a class="{{ cond (eq .Title "Logs") "active-link" ""}}" href="/logs/">logs</a></li>
		</nav>
	</div>
	{{ with .Site.Menus.main }}
	<nav>
		<ul>
			{{ range . }}
			<li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
			{{ end }}
		</ul>
	</nav>
	{{ end }}
</header>
