
<div class="slim-description">
    <p>
        A gathering of information about some things I do on my spare time. You
        can find me on
        <a
            class="brand-icon"
            target="_blank"
            href="https://gitlab.com/gabrielgio"
        >
            <i class="fab fa-gitlab"></i>
        </a>,
        <a
            class="brand-icon"
            target="_blank"
            href="https://twitter.com/giovaninigabs">
            <i class="fab fa-twitter"></i>
        </a>
        and
        <a
            class="brand-icon"
            target="_blank"
            href="https://www.linkedin.com/in/gabriel-giovanini/">
            <i class="fab fa-linkedin"></i>
        </a>
        .
    </p>

</div>
