{{ define "main" }}
	<main>
		<article>
			<h1>{{ .Title }}</h1>

			{{ if .Date }}
				<time>Created At: {{ .Date.Format "02 Jan 2006" }}</time></br>
			{{ end }}
			{{ if .Lastmod }}
				<time>Last Modified: {{ .Lastmod.Format  "02 Jan 2006"}}</time>
			{{ end }}

			{{ partial "tagbar.html" }}
			{{ with .Params.tags }}
			<div class="tags">
				<ul>
					{{ range . }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
				</ul>
			</div>
			{{ end }}

			<div class="blog-post-content">
				{{ .Content }}
			</div>
	</main>
	{{ partial "sidebar.html" . }}
{{ end }}
